:root {
  --md-default-bg-color: #191919;
  --md-default-fg-color: #dcdcdc;
  --md-primary-fg-color: #dcdcdc;
  --md-accent-fg-color: #dcdcdc;
  --md-primary-bg-color: #191919;
  --md-accent-bg-color: #191919;
  --md-paper-bg-color: #191919;

  --md-footer-fg-color:        #ffbe55;
  --md-footer-bg-color:        #3e3e3e;
}

[data-md-color-scheme="deepdeck"] {
  --md-footer-fg-color:        #ffbe55;
  --md-footer-bg-color:        #3e3e3e;
}

body {
  background-color: var(--md-default-bg-color);
  color: var(--md-default-fg-color);
}

code{
  background-color:#434343 !important;
  color: var(--md-default-fg-color) !important;
}

.md-typeset a:hover {
  color: #ff0000;
}

.md-typeset a{
  color: #ff0000;
}

.md-top{
  background-color: #ff0000;
  color: var(--md-default-fg-color);
}

.md-top:hover{
  background-color: #ff3115;
  color: var(--md-default-fg-color);
}


.md-footer-meta {
  background-color: var(--md-default-bg-color);
  color: var(--md-default-fg-color);
}

.md-nav__link, .md-footer__link {
  color: var(--md-default-fg-color);
}

.md-nav__item:hover > .md-nav__link {
  background-color: var(--md-default-bg-color);
  color: #ff3115;
}

.md-nav__item  > .md-nav__link--active{
  color: #ff3115;
}



.md-select__inner{
  background-color: white !important;
  color: var(--md-default-bg-color);
}

.md-search__suggest{
  background-color: white !important;
  color: #000;
}

.md-search__scrollwrap{
  background-color: white !important;
  color: #000 !important;
}

.md-search-result .md-typeset h1 {
  color: #000 !important;
}

.md-search-result .md-typeset h2 {
  color: #757575 !important;
}

.md-typeset .md-content__button{
  color: #757575 !important;
}

.md-nav__title{
  color: var(--md-default-fg-color);
}
 

h1, h2{
  color: var(--md-default-fg-color) !important;
}